<!DOCTYPE html>
<html lang="en">
        <head>
                <title><%= site.title %></title>
                <meta charset="UTF-8" />
                <meta
                        name="description"
                        content="<%= (!!locals.description) ? description : site.description %>"
                />
                <meta
                        name="author"
                        content="<%= site.author %>"
                />
                <meta
                        property="og:title"
                        content="<%= site.title %>"
                />
                <meta
                        property="og:description"
                        content="<%= (!!locals.description) ? description : site.description %>"
                />
                <meta
                        property="og:locale"
                        content="<%= site.locale %>"
                />
                <meta
                        property="og:site_name"
                        content="<%= site.site_name %>"
                />
                <meta
                        property="og:type"
                        content="article"
                />
                <link
                        href=<%= site.css_path %>
                        rel=stylesheet
                />
                <link
                        rel="canonical"
                        href="<%= site.url %>"
                >
                <meta
                        content="width=device-width,initial-scale=1,"
                        name=viewport
                />
                <link
                        href=https://img.icons8.com/color/96/000000/air-element.png
                        rel=icon
                        type=image/png
                >
                <script
                        type="application/ld+json">{"description":"<%= (!!locals.description) ? description: site.description %>","author":{"@type":"Person","name":"<%= site.author %>"},"@type":"BlogPosting","url":"<%= `${site.url}${page.url}` %>","publisher":{"@type":"Organization","logo":{"@type": "ImageObject","url":"<%= `${site.url}/assets/images/logo.png` %>"},"name":"<%= site.author %>"},"headline":"<%= site.title %>","mainEntityOfPage":{"@type":"WebPage","@id":"<%= `${site.url}${page.url}` %>"},"@context":"http://schema.org"}</script>
                <script
                        src="https://www.googletagmanager.com/gtag/js?id=UA-67099815-2"
                        async
                >
                </script>
                <script>function gtag() {dataLayer.push(arguments)} window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-67099815-2")</script>
        </head> <%- content %>

</html>