<div style=text-align:center>
    <footer id=footer>
        <strong>
            <ul style=list-style-type:none>
                <li>Monday: 7:30am -- 5:00pm</li>
                <li>Tuesday: 7:30am -- 5:00pm</li>
                <li>Wednesday: 7:30am -- 5:00pm</li>
                <li>Thursday: 7:30am -- 5:00pm</li>
                <li>Friday: 7:30am -- 5:00pm</li>
                <li>Saturday: 9:00am -- 2:00pm</li>
                <li>Sunday: CLOSED</li>
            </ul>
        </strong>
        <p><a
                href="/form/"
                class="button small"
            >Contact Us</a>
        </p>
        <ul class=icons>
            <li>
                <a
                    href=https://www.facebook.com/allyearheatingcooling/
                    class="alt icon brands fa-facebook-f"
                >
                    <span class=label>Facebook</span>
                </a>
            </li>
            <li>
                <a
                    href="https://www.instagram.com/allyear_heatingandcooling_inc/?hl=en"
                    class="alt icon brands fa-instagram"
                >
                    <span class=label>Instagram</span>
                </a>
            </li>
            <li>
                <a
                    href=tel:+1-336-993-3662
                    class="alt icon solid fa-phone"
                >
                    <span class=label>Phone</span>
                </a>
            </li>
            <li>
                <a
                    href=mailto:support@allyearcoolingtriad.com
                    class="alt icon solid fa-envelope"
                >
                    <span class=label>Email</span>
                </a>
            </li>
        </ul>
        <div style=text-align:center>Licensed - Bonded - Insured NC #14571</div>
        <p class=copyright>© 2020 AllYear | All Rights Reserved <br />
            <!-- Made with Love By ... - external ❤-icon -->
            <link
                rel="stylesheet"
                type="text/css"
                href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
            /> Made with <i class="icon ion-heart"></i> By <a href="https://github.com/mxttwoods">Woods Engineering</a>
        </p>
    </footer>
</div>