<script src=../assets/js/jquery.min.js></script>
<script src=../assets/js/jquery.dropotron.min.js></script>
<script src=../assets/js/jquery.scrollex.min.js></script>
<script src=../assets/js/jquery.scrolly.min.js></script>
<script src=../assets/js/browser.min.js></script>
<script src=../assets/js/breakpoints.min.js></script>
<script src=../assets/js/util.min.js></script>
<script src=../assets/js/main.min.js></script>
<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-analytics.js"></script>
<script>var firebaseConfig = {apiKey: "AIzaSyAgq7ML6S9Fk7oInPss43lCBDAGibV70yw",authDomain: "ayhc-web.firebaseapp.com",databaseURL: "https://ayhc-web.firebaseio.com",projectId: "ayhc-web",storageBucket: "ayhc-web.appspot.com",messagingSenderId: "404762715760",appId: "1:404762715760:web:c3ae297dfd7e1a99a2b6b5",measurementId: "G-Z193M6JSYQ"};firebase.initializeApp(firebaseConfig);firebase.analytics();</script>