---
permalink: '/elements/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="main alt">
        <header>
            <h1>Elements</h1>
            <p> Aenean ornare velit lacus varius enim ullamcorper proin aliquam facilisis ante sed etiam magna
                interdum congue. Sed consequat amet dolor magna consequat. Lorem ipsum dolor amet nullam sed etiam
                veroeros. </p>
        </header>
        <div class="inner style2">
            <div class="row gtr-200">
                <div class="col-6 col-12-medium">
                    <!-- Text stuff -->
                    <h3>Text</h3>
                    <p> This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is
                        <em>emphasized</em>. This is <sup>superscript</sup> text and this is <sub>subscript</sub>
                        text. This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally,
                        this is a <a href="#">link</a>. </p>
                    <hr/>
                    <h2>Heading Level 2</h2>
                    <h3>Heading Level 3</h3>
                    <h4>Heading Level 4</h4>
                    <h5>Heading Level 5</h5>
                    <h6>Heading Level 6</h6>
                    <hr/>
                    <!-- Lists -->
                    <h3>Lists</h3>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <h4>Unordered</h4>
                            <ul>
                                <li>Amet dolor etiam.</li>
                                <li>Sagittis et lorem.</li>
                                <li>Felis sed viverra.</li>
                                <li>Dolor amet etiam.</li>
                            </ul>
                            <h4>Alternate</h4>
                            <ul class="alt">
                                <li>Dolor pulvinar etiam.</li>
                                <li>Sagittis lorem eleifend.</li>
                                <li>Felis enim dolore viverra.</li>
                                <li>Dolor pulvinar etiam.</li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-small">
                            <h4>Ordered</h4>
                            <ol>
                                <li>Sed pulvinar etiam.</li>
                                <li>Etiam vel viverra.</li>
                                <li>Felis feugiat magna.</li>
                                <li>Vel enim tempus.</li>
                            </ol>
                            <h4>Icons</h4>
                            <ul class="icons">
                                <li>
                                    <a
                                            class="icon brands fa-twitter"
                                            href="#"
                                    ><span class="label">Twitter</span></a>
                                </li>
                                <li>
                                    <a
                                            class="icon brands fa-facebook-f"
                                            href="#"
                                    ><span class="label">Facebook</span></a>
                                </li>
                                <li>
                                    <a
                                            class="icon brands fa-instagram"
                                            href="#"
                                    ><span class="label">Instagram</span></a>
                                </li>
                                <li>
                                    <a
                                            class="icon brands fa-github"
                                            href="#"
                                    ><span class="label">Github</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h4>Definition</h4>
                    <dl>
                        <dt>One</dt>
                        <dd>
                            <p> Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                                adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
                                pellentesque praesent. </p>
                        </dd>
                        <dt>Two</dt>
                        <dd>
                            <p> Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                                adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
                                pellentesque praesent. </p>
                        </dd>
                        <dt>Three</dt>
                        <dd>
                            <p> Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                                adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
                                pellentesque praesent. </p>
                        </dd>
                    </dl>
                    <h4>Actions</h4>
                    <ul class="actions">
                        <li><a
                                    class="button"
                                    href="#"
                            >Default</a></li>
                        <li><a
                                    class="button alt"
                                    href="#"
                            >Alt</a></li>
                    </ul>
                    <ul class="actions small">
                        <li>
                            <a
                                    class="button small"
                                    href="#"
                            >Small</a>
                        </li>
                        <li>
                            <a
                                    class="button alt small"
                                    href="#"
                            >Small</a>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <ul class="actions stacked">
                                <li>
                                    <a
                                            class="button"
                                            href="#"
                                    >Default</a>
                                </li>
                                <li>
                                    <a
                                            class="button alt"
                                            href="#"
                                    >Default</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-small">
                            <ul class="actions stacked">
                                <li>
                                    <a
                                            class="button small"
                                            href="#"
                                    >Small</a>
                                </li>
                                <li>
                                    <a
                                            class="button alt small"
                                            href="#"
                                    >Small</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <ul class="actions stacked">
                                <li>
                                    <a
                                            class="button fit"
                                            href="#"
                                    >Default</a>
                                </li>
                                <li>
                                    <a
                                            class="button alt fit"
                                            href="#"
                                    >Default</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-small">
                            <ul class="actions stacked">
                                <li>
                                    <a
                                            class="button small fit"
                                            href="#"
                                    >Small</a>
                                </li>
                                <li>
                                    <a
                                            class="button alt small fit"
                                            href="#"
                                    >Small</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr/>
                    <!-- Blockquote -->
                    <h3>Blockquote</h3>
                    <blockquote> Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget
                        tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu
                        felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in
                        faucibus vestibulum. Blandit adipiscing eu felis.
                    </blockquote>
                    <hr/>
                    <!-- Table -->
                    <h3>Table</h3>
                    <h4>Default</h4>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>One</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Two</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Three</td>
                                <td>Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Four</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Five</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <h4>Alternate</h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>One</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Two</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Three</td>
                                <td>Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Four</td>
                                <td>Vitae integer tempus condimentum.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Five</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-6 col-12-medium">
                    <!-- Buttons -->
                    <h3>Buttons</h3>
                    <ul class="actions">
                        <li><a
                                    class="button"
                                    href="#"
                            >Default</a></li>
                        <li><a
                                    class="button alt"
                                    href="#"
                            >Alt</a></li>
                    </ul>
                    <ul class="actions fit">
                        <li><a
                                    class="button fit"
                                    href="#"
                            >Fit</a></li>
                        <li>
                            <a
                                    class="button alt fit"
                                    href="#"
                            >Fit</a>
                        </li>
                    </ul>
                    <ul class="actions fit small">
                        <li>
                            <a
                                    class="button fit small"
                                    href="#"
                            >Fit + Small</a>
                        </li>
                        <li>
                            <a
                                    class="button alt fit small"
                                    href="#"
                            >Fit + Small</a>
                        </li>
                    </ul>
                    <ul class="actions">
                        <li>
                            <a
                                    class="button icon solid fa-download"
                                    href="#"
                            >Icon</a>
                        </li>
                        <li>
                            <a
                                    class="button alt icon solid fa-search"
                                    href="#"
                            >Icon</a>
                        </li>
                    </ul>
                    <ul class="actions">
                        <li>
                            <span class="button disabled">Default</span>
                        </li>
                        <li>
                            <span class="button alt disabled">Alt</span>
                        </li>
                    </ul>
                    <hr/>
                    <!-- Form -->
                    <h3>Form</h3>
                    <form
                            action="#"
                            class="alt"
                            method="post"
                    >
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input
                                        id="demo-name"
                                        name="demo-name"
                                        placeholder="Name"
                                        type="text"
                                        value=""
                                />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input
                                        id="demo-email"
                                        name="demo-email"
                                        placeholder="Email"
                                        type="email"
                                        value=""
                                />
                            </div>
                            <!-- Break -->
                            <div class="col-12">
                                <select
                                        id="demo-category"
                                        name="demo-category"
                                >
                                    <option value="">- Category -</option>
                                    <option value="1">Manufacturing</option>
                                    <option value="1">Shipping</option>
                                    <option value="1">Administration</option>
                                    <option value="1">Human Resources</option>
                                </select>
                            </div>
                            <!-- Break -->
                            <div class="col-4 col-12-small">
                                <input
                                        checked
                                        id="demo-priority-low"
                                        name="demo-priority"
                                        type="radio"
                                />
                                <label for="demo-priority-low">Low</label>
                            </div>
                            <div class="col-4 col-12-small">
                                <input
                                        id="demo-priority-normal"
                                        name="demo-priority"
                                        type="radio"
                                />
                                <label for="demo-priority-normal">Normal</label>
                            </div>
                            <div class="col-4 col-12-small">
                                <input
                                        id="demo-priority-high"
                                        name="demo-priority"
                                        type="radio"
                                />
                                <label for="demo-priority-high">High</label>
                            </div>
                            <!-- Break -->
                            <div class="col-6 col-12-small">
                                <input
                                        id="demo-copy"
                                        name="demo-copy"
                                        type="checkbox"
                                />
                                <label for="demo-copy">Email me a copy</label>
                            </div>
                            <div class="col-6 col-12-small">
                                <input
                                        checked
                                        id="demo-human"
                                        name="demo-human"
                                        type="checkbox"
                                />
                                <label for="demo-human">I am a human</label>
                            </div>
                            <!-- Break -->
                            <div class="col-12">
                                    <textarea
                                            id="demo-message"
                                            name="demo-message"
                                            placeholder="Enter your message"
                                            rows="6"
                                    ></textarea>
                            </div>
                            <!-- Break -->
                            <div class="col-12">
                                <ul class="actions">
                                    <li>
                                        <input
                                                type="submit"
                                                value="Send Message"
                                        />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                    <hr/>
                    <!-- Image -->
                    <h3>Image</h3>
                    <h4>Fit</h4>
                    <span class="image fit"><img
                                alt=""
                                src="images/banner.jpg"
                        /></span>
                    <div class="box alt">
                        <div class="row gtr-50 gtr-uniform">
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic01.jpg"
                                        /></span>
                            </div>
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic02.jpg"
                                        /></span>
                            </div>
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic03.jpg"
                                        /></span>
                            </div>
                            <!-- Break -->
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic03.jpg"
                                        /></span>
                            </div>
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic01.jpg"
                                        /></span>
                            </div>
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic02.jpg"
                                        /></span>
                            </div>
                            <!-- Break -->
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic02.jpg"
                                        /></span>
                            </div>
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic03.jpg"
                                        /></span>
                            </div>
                            <div class="col-4">
                                    <span class="image fit"><img
                                                alt=""
                                                src="images/pic01.jpg"
                                        /></span>
                            </div>
                        </div>
                    </div>
                    <h4>Left &amp; Right</h4>
                    <p>
                            <span class="image left"><img
                                        alt=""
                                        src="images/pic01.jpg"
                                /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis
                        eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                        adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
                        pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum
                        primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
                        Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
                        pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum
                        primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu praesent. </p>
                    <p>
                            <span class="image right"><img
                                        alt=""
                                        src="images/pic02.jpg"
                                /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis
                        eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit
                        adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
                        pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum
                        primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
                        Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac
                        pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum
                        primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
                        accumsan eu praesent. </p>
                    <hr/>
                    <!-- Box -->
                    <h3>Box</h3>
                    <div class="box">
                        <p> Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis
                            iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent
                            tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in
                            faucibus vestibulum. Blandit adipiscing eu ipsum primis in faucibus vestibulum. Blandit
                            adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus lorem ipsum
                            dolor sit amet nullam. Integer ac pellentesque praesent tincidunt felis sagittis eget.
                        </p>
                    </div>
                    <hr/>
                    <!-- Preformatted Code -->
                    <h3>Preformatted</h3>
                    <pre><code>i = 0; while (!deck.isInOrder()) { print 'Iteration ' + i; deck.shuffle(); i++;}
                                print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
                </div>
            </div>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>