---
permalink: '/about/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li class="current"><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="alt main">
        <header>
            <h1>About Us</h1>
            <p>
                <strong>Established in 1989,</strong> All Year Cooling & Heating, Inc. has completed
                <strong>thousands</strong> of air conditioner and heating installations and service repairs. Our
                goal is to provide our customers with the best overall service for the best value in the market.
            </p>
        </header>
        <div class="inner style2">
            <div
                    class="image main"
                    data-position="center"
            >
                <div class="lazyimages">
                    <img
                            alt="Employees outside the shop"
                            src=../images/boys.jpeg
                    />
                </div>
            </div>
            <h3>Management</h3>
            <ul class="faces">
                <li>
                        <span class="image"><img
                                    alt="Lynn Smith the Owner"
                                    src=../images/lynhead2.jpeg
                            /></span>
                    <h3>Lynn Smith</h3>
                    <p>Owner</p>
                </li>
                <li>
                        <span class="image"><img
                                    alt="Josh Tramble the Installation Supervisor"
                                    src=../images/Josh.jpg
                            /></span>
                    <h3>Josh Tramble</h3>
                    <p>Installation Supervisor</p>
                </li>
                <li>
                        <span class="image"><img
                                    alt="Anita Sower the Office Manager"
                                    src=../images/anita.jpg
                            /></span>
                    <h3>Anita Sowers</h3>
                    <p>Human Resources/ Accounting</p>
                </li>
                <li>
                        <span class="image"><img
                                    alt="Logan Wright the Lead Installer"
                                    src=../images/logan.jpg
                            /></span>
                    <h3>Logan Wright</h3>
                    <p>Lead Installer</p>
                </li>
            </ul>
            <div class=box>
                <p>
                    <strong>We specialize in existing home replacement Air Conditioning and Heating systems,
                        maintenance and all HVAC needs. Getting a new air conditioner or heat pump can be costly and
                        confusing. All Year Cooling & Heating is here to help you. Call or email us and we will help
                        you get started with your Heating and Cooling system needs. </strong>
                </p>
                <p>
                    <strong>Our guarantee to our customers is in our quality installation and customer service. If
                        there is ever a problem with our installation or any aspect of our service, we will always
                        make it right! We have been in business since 1989 and have learned a thing or two about
                        customer service over the past . With thousands of installations and service repairs, under
                        our belt, there’s nothing we haven’t seen and no problem we haven’t fixed! We employ trained
                        installers and technicians whose training does not end at the time of hire. Our technicians
                        are kept current with the latest developments and technology in the HVAC industry so they
                        can handle any job. </strong>
                </p>
            </div>
            <hr class="major"/>
            <h3>Testimonials</h3>
            <p><strong>Here what our customers are saying about us!</strong></p>
            <ul style="list-style-type: square">
                <li>
                    <strong>Jeremy Rowley</strong> : <strong>"</strong> I received quotes from three different
                    companies and I felt All Year was the most honest and up front with me. Their installation crew
                    was respectful and answered all of my questions. I have not had any issues with the AC Unit
                    since it was installed. Great company <strong>"</strong>
                </li>
                <br/>
                <li>
                    <strong>Len Gillespie</strong> : <strong>"</strong> I have used All Year Cooling & Heating for
                    over 10 years. Their technicians are prompt, courteous, and professional. I feel confident in
                    their recommendations. Their prices are competitive and fair. I like that their customer service
                    calls to remind me to schedule seasonal routine maintenance services. I recommend All Year very
                    highly. <strong>"</strong>
                </li>
                <br/>
                <li>
                    <strong>Brian Pannell</strong> : <strong>"</strong> Last year I had to come to terms with losing
                    my 1985 model a/c unit. Although it was difficult to let it go, Josh was extremely helpful and
                    made me feel comfortable with my decision to get all new equipment. Now my winters are warmer
                    and summers are much cooler! Highly recommend!!! <strong>"</strong>
                </li>
            </ul>
            <br/>
            <div style="text-align: center;">
                <a
                        rel="noopener noreferrer"
                        class="button"
                        target="_blank"
                        href="https://www.google.com/search?rlz=1C1GCEA_enUS856US856&ei=t_ZaXYy4HquxggehyriwAg&q=allyear+heating+and+cooling&oq=allyear+heating+and+cooling&gs_l=psy-ab.3..35i305i39j0i10l5j0i22i30l4.1328.5773..5901...2.1..0.135.2806.19j10......0....1..gws-wiz.......0i71j35i39j0i131j0j0i67j0i20i263j0i131i67j35i304i39j0i13j0i13i30.sScog1OU604&ved=0ahUKEwjM7-X404_kAhWrmOAKHSElDiYQ4dUDCAo&uact=5#lrd=0x885300d700d81a1f:0xc2863ff064916594,1,,,"
                >Read More</a>
            </div>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>