---
permalink: '/financing/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li class="current"><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="alt main">
        <header>
            <h1>Financing & Payment</h1>
            <p>
                <strong> Ask us about a finance application today! </strong>
            </p>
            <div style=text-align:center>
                <a
                        href="/form/"
                        class="button"
                > Contact Us </a>
            </div>
        </header>
        <div class="inner style2">
            <div
                    class="main image"
                    data-position="center"
            >
                <div class="lazyimages">
                    <img
                            alt="Image of some Money"
                            src=../images/money.jpg
                    /></div>
            </div>
            <div style=text-align:center>
                <h3> Wells Fargo, GreenSky, All major credit cards accepted, in house financing. </h3>
            </div>
            <br/>
            <div class=box>
                <ul>
                    <li>
                        <strong>Do not let the expense of not having proper heating or air conditioning systems,
                            keep you from making sure your home is safe and comfortable.</strong>
                    </li>
                    <li><strong>Veterans and Senior Citizens discounts</strong></li>
                    <li>
                        <strong>For any new system, repair or upgrade , All Year offers financing with approved
                            credit. All Year Cooling & Heating, Inc. Can Help!</strong>
                    </li>
                </ul>
            </div>
            <blockquote>
                <p>
                    <strong>Your opinion matters. Word of mouth often proves to be the best marketing for our
                        company. We have strive to make sure that your experience is a positive one. Please tell
                        your friends about us.</strong>
                </p>
                <p>
                    <strong>You will receive a $50 Cash Referral Reward when your referral purchases a complete air
                        conditioning and heating system from All Year Heating & Cooling, Inc. and a $25 Cash
                        Referral Reward if your referral requires only a basic service.</strong>
                </p>
                <p>
                    <strong>There’s no limit to the number of customers you can refer, meaning the more friends you
                        refer, the more money we’ll put in your pocket; so send out those emails, Facebook, Yelp,
                        and Twitter messages.</strong>
                </p>
            </blockquote>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>