---
permalink: '/form/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li class="current"><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section
            class="alt main special"
            id=second
    >
        <header>
            <h1><strong><a href=tel:1+336-993-3662>336-993-3662</a></strong></h1>
            <h2>Request a service call or FREE estimate!</h2>
            <p>Please feel free to message us with any questions, comments, concerns or requests!</p>
        </header>
        <div class="inner narrow">
            <form
                    action=https://formspree.io/support@allyearcoolingtriad.com
                    method=POST
            >
                <div class=fields>
                    <div class="field half">
                        <input
                                id="Contact Name"
                                name="Contact Name"
                                placeholder="Name"
                                type="text"
                        >
                    </div>
                    <div class="field half">
                        <input
                                id="Contact Email"
                                name="Contact Email"
                                placeholder="Email"
                                type="email"
                        >
                    </div>
                    <div class=field><textarea
                                id="Phone Number"
                                name="Phone Number"
                                placeholder="Phone Number"
                                rows=1
                        ></textarea>
                        <br/>
                        <select
                                id="Category"
                                name="Category"
                        >
                            <option value="">-- Category --</option>
                            <option value="Question">Question</option>
                            <option value="Service">Service</option>
                            <option value="Installation">Installation</option>
                            <option value="Estimate">Estimate</option>
                            <option value="Billing">Billing</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class=field><textarea
                                id="Message"
                                name="Message"
                                placeholder="Message"
                                rows=6
                        ></textarea></div>
                </div>
                <ul class="special actions">
                    <li>
                        <button
                                class="button next"
                                type=submit
                                value=Send
                        > Send Message
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>