---
permalink: '/guarantee/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li class="current"><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="alt main">
        <header>
            <h1>Experts you can trust</h1>
            <p> We provide honest, professional and reliable service for our customers and we stand behind all our
                work. </p>
        </header>
        <div class="inner style2">
            <div
                    class="main image"
                    data-position="center"
            >
                <div class="lazyimages">
                    <img
                            alt="A image of some hands"
                            src=../images/hands.jpg
                    />
                </div>
            </div>
            <h3>We proudly stand behind all our work and service</h3>
            <div class=box>
                <p> We’ve been in business since 1989 and have learned a thing or two about customer service. With
                    thousands of installations & service repairs under our belt, there’s nothing we haven’t seen and
                    no problem we haven’t fixed! We have satisfied thousands of customers during the last 30 years.
                </p>
            </div>
            <ul style="list-style-type: square">
                <li>Free estimates</li>
                <li>On Time Service</li>
                <li>Employees Drug & Alcohol Free</li>
                <li>Property Protection & Client Respect Guarantee</li>
                <li>Trained & Certified Technicians</li>
                <li> Protective shoe coverings worn by our Technicians & Installers</li>
                <li>Friendly & Respectful Customer Service Staff</li>
                <li>Quality workmanship on new systems/repairs</li>
                <li>Straightforward Pricing</li>
            </ul>
            <blockquote>
                <strong> We only employ trained installers and technicians, whose training does not stop at the time
                    of hire. Our technicians are kept current with the latest developments and technology in the
                    HVAC industry so they can handle any job. </strong>
            </blockquote>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>