---
permalink: 'index.html'
layout: /components/base.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal alt"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li class="current"><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section id=banner>
        <div class=content>
            <div class="lazyimages">
                <img
                        alt=png
                        src=images/ALL-YEAR.png
                        height=50%
                        width=50%
                />
            </div>
        </div>
        <a
                href=#first
                class="more scrolly"
        > Learn More </a>
    </section>
    <section
            class="alt main special"
            id=second
    >
        <header>
            <div style=text-align:center>
                <a
                        rel="noopener noreferrer"
                        target="_blank"
                        href=images/cv-ad.pdf
                        class="button"
                > Latest Specials </a>
            </div>
            <br/>
            <h2>Request a service call or FREE estimate!</h2>
            <h1><strong><a href=tel:1+336-993-3662>336-993-3662</a></strong></h1>
            <h3>Serving all triad counties<br/>- North Carolina -</h3>
            <p>Please feel free to message us with any questions, comments, concerns or requests!</p>
        </header>
        <div class="inner narrow">
            <form
                    action=https://formspree.io/support@allyearcoolingtriad.com
                    method=POST
            >
                <div class=fields>
                    <div class="field half">
                        <input
                                id="Contact Name"
                                name="Contact Name"
                                placeholder="Name"
                                type="text"
                        >
                    </div>
                    <div class="field half">
                        <input
                                id="Contact Email"
                                name="Contact Email"
                                placeholder="Email"
                                type="email"
                        >
                    </div>
                    <div class=field><textarea
                                id="Phone Number"
                                name="Phone Number"
                                placeholder="Phone Number"
                                rows=1
                        ></textarea>
                        <br/>
                        <select
                                id="Category"
                                name="Category"
                        >
                            <option value="">-- Category --</option>
                            <option value="Question">Question</option>
                            <option value="Service">Service</option>
                            <option value="Installation">Installation</option>
                            <option value="Estimate">Estimate</option>
                            <option value="Billing">Billing</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class=field><textarea
                                id="Message"
                                name="Message"
                                placeholder="Message"
                                rows=6
                        ></textarea></div>
                </div>
                <ul class="special actions">
                    <li>
                        <button
                                class="button next"
                                type=submit
                                value=Send
                        > Send Message
                        </button>
                    </li>
                </ul>
            </form>
        </div>
        <h4>
            <a
                    href="https://www.google.com/maps/place/All+Year+Cooling+%26+Heating/@36.1174538,-80.0565062,21z/data=!4m5!3m4!1s0x885300d700d81a1f:0xc2863ff064916594!8m2!3d36.1173943!4d-80.0564209">Come
                visit us at 232 Industrial Way Dr, Kernersville, NC </a>
        </h4>
        <div id=map>
        </div>
        <script>function initMap() {
                var e = {lat: 36.11741, lng: -80.056419},
                    n = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: e});
                new google.maps.Marker({position: e, map: n});
            }</script>
        <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx8zbMR_jTxfm4-1br9KGP83ldAgm2zXs&callback=initMap"
                async
                defer
        ></script>
    </section>
    <section
            class="main accent2"
            id=first
    >
        <header>
            <h2>Services we offer!</h2>
            <p>We are committed to keeping your system running reliably and efficiently for years and years. All of
                our technicians and installers are certified in the industry. We offer commercial and residential
                services. We are a licensed and bonded company.</p>
        </header>
        <div class=inner>
            <article class="alt post">
                <div class=content>
                    <header>
                        <span class=category> Indoor Air Quality & Mold </span>
                        <h3>Air Duct Cleaning and Sanitization Services</h3>
                    </header>
                    <p>All Year Heating & Cooling professionals whole-house duct cleaning uses specialized tools to
                        dislodge dirt and debris in air flow systems followed by a thorough sanitizing process.</p>
                    <ul class=actions>
                        <li>
                            <a
                                    href="/mold/"
                                    class="button next"
                            > Learn More </a>
                        </li>
                    </ul>
                </div>
                <div
                        class=image
                        data-position=center
                ><img
                            alt="a image of an Air Duct"
                            src=images/duct.jpg
                    /></div>
            </article>
            <article class=post>
                <div class=content>
                    <header>
                        <span class=category> Replacement Systems </span>
                        <h3>Selling #1 Brand Name Units</h3>
                    </header>
                    <p>We have installed more than 10,000 Heating and Cooling systems throughout the Piedmont Triad
                        since 1989. We proudly install and service all makes and models. Our office staff and Team
                        of Certified Technicians/ Installers are very experienced and happy to serve you.</p>
                    <ul class=actions>
                        <li>
                            <a
                                    href="/replace/"
                                    class="button next"
                            > Learn More </a>
                        </li>
                    </ul>
                </div>
                <div
                        class=image
                        data-position=centered
                >
                    <div class="lazyimages">
                        <img
                                alt="an image of a Trane HVAC Unit"
                                src=images/darkt.jpg
                                height=100%
                                width=100%
                        />
                    </div>
                </div>
            </article>
            <article class="alt post">
                <div class=content>
                    <header>
                        <span class=category> Repair & Maintenance </span>
                        <h3>expert service</h3>
                    </header>
                    <p>All Year Heating & Cooling, Inc. has been repairing and servicing Air Conditioning and
                        Heating systems in the Triad for more than 30 years. All of our Technicians are bonded and
                        insured. All of our Technicians are certified, trained and attend continuing education
                        classes to further their knowledge.</p>
                    <ul class=actions>
                        <li>
                            <a
                                    href="/service/"
                                    class="button next"
                            > Learn More </a>
                        </li>
                    </ul>
                </div>
                <div
                        class=image
                        data-position=center
                >
                    <div class="lazyimages">
                        <img
                                alt="an image of some tools that are used by HVAC technicians"
                                src=images/tools.jpg
                        />
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class=main>
        <header>
            <h2>Operations</h2>
            <p>Meet the leadership behind all our <strong>AllYear Heating and Cooling </strong>Team!</p>
        </header>
        <div class=inner>
            <ul class=faces>
                <li>
                        <span class=image>
                            <img
                                    alt="an image of the owner Lynn Smith"
                                    src=images/lynhead2.jpeg
                            />
                        </span>
                    <h3>Lynn Smith</h3>
                    <p>Owner</p>
                </li>
                <li>
                        <span class=image>
                            <img
                                    alt="an image of Josh Tramble the Installation Supervisor"
                                    src=images/Josh.jpg
                            />
                        </span>
                    <h3>Josh Tramble</h3>
                    <p>Installation Supervisor</p>
                </li>
                <li>
                        <span class=image>
                            <img
                                    alt="an image of Anita Sowers the Office Manager"
                                    src=images/anita.jpg
                            />
                        </span>
                    <h3>Anita Sowers</h3>
                    <p>Human Resources/ Accounting</p>
                </li>
                <li>
                        <span class=image>
                            <img
                                    alt="an image of Logan Wright the Lead Service Technician"
                                    src=images/logan.jpg
                            />
                        </span>
                    <h3>Logan Wright</h3>
                    <p>Service Technician</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="alt main">
        <header>
            <h2>Commercial and Residential Services</h2>
            <p> All Year Heating & Cooling, Inc. is a Family Owned Business and has been serving the Piedmont Triad
                Area since 1989. We are a full service HVAC company specializing in existing residential homes as
                well as commercial properties. Since the very beginning our team of professionals have dedicated
                themselves to being knowledgeable about Air Conditioning and Heating products, to bring you quality
                installation and courteous, friendly service after the sale. </p>
        </header>
        <div class=inner>
            <article class="post style2">
                <div class=content>
                    <header>
                        <span class=category> Our Promise </span>
                        <h3>Expert service you can trust</h3>
                    </header>
                    <p>Our promise to our customers is in our quality installation and customer service. If there is
                        ever a problem with our installation or any aspect of our service, we will always make it
                        right! </p>
                    <ul class=actions>
                        <li>
                            <a
                                    href="/guarantee/"
                                    class="button next"
                            > Learn More </a>
                        </li>
                    </ul>
                </div>
                <div
                        class=image
                        data-position=center
                >
                    <div class="lazyimages">
                        <img
                                alt="an image of a man inspecting a AC Unit"
                                src=images/ipadguy.jpg
                        />
                    </div>
                </div>
            </article>
            <article class="alt post style2">
                <div class=content>
                    <header>
                        <span class=category>Financing</span>
                        <h3>We can help!</h3>
                    </header>
                    <p>Do not let the expense of not having proper heating or air conditioning systems, keep you
                        from making sure your home is safe and comfortable. Ask us about a finance application
                        today! For any new system, repair or upgrade, All Year offers financing with approved
                        credit.</p>
                    <ul class=actions>
                        <li>
                            <a
                                    href="/financing/"
                                    class="button next"
                            > Learn More </a>
                        </li>
                    </ul>
                </div>
                <div
                        class=image
                        data-position=center
                >
                    <div class="lazyimages">
                        <img
                                alt="an image of a calculator that reads finance"
                                src=images/fin.jpg
                        />
                    </div>
                </div>
            </article>
            <div style=text-align:center>
                <a
                        rel="noopener noreferrer"
                        target="_blank"
                        href=https://www.facebook.com/allyearheatingcooling
                >
                    <div class="lazyimages">
                        <img
                                alt="a like us on facebook button"
                                src=images/like.jpg
                                height=50%
                                width=50%
                        />
                    </div>
                </a>
            </div>
            <br/>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>