---
permalink: '/mold/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="current"><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="alt main">
        <header>
            <h1>Air Quality & Mold</h1>
            <p> We help give you peace of mind that your own forced air systems will not aggravate family members
                who suffer from allergies and your whole family can breathe cleaner air. </p>
        </header>
        <div class="inner style2">
            <div style=text-align:center>
                <div class="image main">
                    <div class="lazyimages">
                        <img
                                alt="an image of two air ducts one dirty and one clean"
                                src=../images/mold.jpg
                        /></div>
                </div>
                <article class="post style">
                    <div class="content">
                        <header>
                            <h2>Importance of Air Quality</h2>
                        </header>
                        <div style="text-align: left">
                            <p> Tiny dust mites live in your air conditioning vents and ducts. They cause allergies
                                and many other health problems. Duct cleaning includes cleansing many components of
                                forced air systems. <br/>
                                <br/> Dirty duct work may include tiny dust mites living and breeding throughout
                                your home. This could lead to health problems including headaches, irritated eyes,
                                asthma, sinus problems, and allergic reactions. </p>
                        </div>
                    </div>
                    <div
                            class="image"
                            data-position="center"
                    >
                        <div class="lazyimages">
                            <img
                                    alt="an image of a dirty conditioning coils"
                                    src=../images/dirty.jpg
                            /></div>
                    </div>
                    <div
                            class="image"
                            data-position="center"
                    >
                        <div class="lazyimages">
                            <img
                                    alt="an image of clean air conditioning coils"
                                    src=../images/cleancoils.jpg
                            /></div>
                    </div>
                </article>
                <div class="inner style1">
                    <div
                            class="image main"
                            data-position="center"
                    >
                        <img
                                alt="an image of two air ducts one dirty and one clean"
                                src=../images/mold.jpg
                        >
                    </div>
                    <article class="alt post style">
                        <div class="content">
                            <header>
                                <h2>Sanitization</h2>
                            </header>
                            <div style="text-align: left">
                                <p> Dirty air ducts may also lead to mold, dirt, smoke fumes and odors. All Year
                                    Heating & Cooling duct cleaning services clean your air duct system and result
                                    in clean air ducts and healthier air in your home. All Year Heating & Cooling
                                    professionals whole-house duct cleaning uses specialized tools to dislodge dirt
                                    and debris in air flow systems followed by a thorough sanitizing process. <br/>
                                    <br/> Duct cleaning includes the supply and return air ducts and registers,
                                    grills and diffusers, heat exchangers and cooling coils. After cleaning your
                                    ducts from mold, mildew, and dust, your ducts will be sanitized by our own
                                    trained technicians. </p>
                                <blockquote>
                                    <strong> Every year, All Year Heating & Cooling specialists can check your ducts
                                        for mold, mildew and dust mites for your peace of mind. </strong>
                                </blockquote>
                            </div>
                        </div>
                        <div
                                class="image"
                                data-position="center"
                        >
                            <img
                                    alt="an image of a clean air conditioning duct"
                                    src=../images/Clean-Ducts.jpg
                            />
                        </div>
                        <div
                                class="image"
                                data-position="center"
                        >
                            <img
                                    alt="an image of a dirty air conditioning duct"
                                    src=../images/dirty-duct.jpg
                            />
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>