---
permalink: '/replace/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="current"><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="alt main">
        <header>
            <h1>Replacement Systems</h1>
            <p>We offer: Air Conditioning, Heat Pumps, Gas Furnace, Oil Furnaces, Gas Logs, Duel Fuel Systems, Hybrid
                Systems
                <br/>
            </p>
            <div style=text-align:center>
                <a
                        href=../images/cv-ad.pdf
                        class="button"
                > Latest Specials </a>
            </div>
        </header>
        <div class="inner style2">
            <div
                    class="image main"
                    data-position="center"
            >
                <div class="lazyimages">
                    <img
                            alt="an image of a HVAC unit"
                            src=../images/trane-share.jpg
                    /></div>
            </div>
            <div style=text-align:center>
                <h3>We offer installation and service for all makes and models.</h3>
            </div>
            <div class=box>
                <p> All Year Cooling & Heating , Inc. is committed to providing our customers with quality
                    installations and service. We have installed more than <strong>10,000</strong> Heating and
                    Cooling systems throughout the Piedmont Triad since 1989. Our office staff, technicians and
                    installers are very experienced and are here for you. We service and can warranty all other
                    major brands; Lennox, Carrier, York Goodman, etc. We install Mini Split Heat Pump systems;
                    Authorized Dealer Fujitsu and Mitsubushi. We handle all rebates available for our customers and
                    offer <strong>SAME DAY SERVICE !!!</strong>
                </p>
                <div style=text-align:center>
                    <strong>
                        <h3>Authorized Retailer</h3>
                        <h4>
                            <ul style=list-style-type:none>
                                <li>Trane</li>
                                <li>Fujitsu</li>
                                <li>Rheem</li>
                                <li>Ruud</li>
                                <li>Air Temp</li>
                                <li>Mitsubushi</li>
                            </ul>
                        </h4>
                    </strong>
                </div>
            </div>
            <div class=box>
                <div class="lazyimages">
                    <div style=text-align:center>
                        <h3>Mini Split</h3>
                        <img
                                alt="an image of a HVAC unit"
                                src=../images/minisplit.jpg
                                height=50%
                                width=50%
                        />
                        <br/>
                        <h3>Trane Systems</h3>
                        <img
                                alt="an image of a HVAC unit"
                                src=../images/traneunits.png
                                height=50%
                                width=50%
                        />
                        <br/>
                        <h3>Rheem Systems</h3>
                        <img
                                alt="an image of a HVAC unit"
                                src=../images/rheemunits.png
                                height=50%
                                width=50%
                        />
                        <br/>
                    </div>
                </div>
            </div>
            <blockquote>
                <strong>
                    <p> We employ trained installers and technicians whose training does not end at the time of
                        hire. Our technicians are kept current with the latest developments and technology in the
                        HVAC industry so they can handle any job.Our guarantee to our customers is in our quality
                        installation and customer service. We have been in business since 1989 and have learned a
                        thing or two about customer service over the past 30 years. With thousands of installations
                        and service repairs, under our belt, there’s nothing we haven’t seen and no problem we
                        haven’t fixed! </p>
                </strong>
            </blockquote>
            <div class=box>
                <div class="lazyimages">
                    <img
                            alt="an image of a HVAC unit"
                            src=../images/bbb.png
                            height=20%
                            width=20%
                    />
                    <img
                            alt="an image of a HVAC unit"
                            src=../images/duke.png
                            height=40%
                            width=40%
                    />
                    <img
                            alt="an image of a HVAC unit"
                            src=../images/png.png
                            height=35%
                            width=35%
                    />
                </div>
            </div>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>