---
permalink: '/service/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li class="current"><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="alt main">
        <header>
            <h1>Service</h1>
            <p> We service all makes and brands, residential & commercial. Our technicians are certified and trained
                experts. Our staff and advisors are knowledgeable and dedicated to the work they do for our company,
                and it shows in their day-to-day work ethic. </p>
            <div style=text-align:center>
                <a
                        href=../images/cv-ad.pdf
                        class="button"
                > Latest Specials </a>
            </div>
        </header>
        <div class="inner style2">
            <div
                    class="image main"
                    data-position="center"
            >
                <div class="lazyimages">
                    <img
                            alt="a man repairing a HVAC unit"
                            src=../images/repair.jpg
                    /></div>
            </div>
            <h3>Services Offered</h3>
            <p> All Year Cooling & Heating, Inc. is a family-owned business and has been serving the Piedmont Triad
                Area <strong>since 1989.</strong> We are a full-service HVAC company specializing in existing
                residential homes as well as commercial properties. Since the beginning, our team of professionals
                has dedicated ourselves to being knowledgeable about Air Conditioning and Heating products, to bring
                you quality installation and courteous, friendly service after the sale. We are committed to keeping
                your system running reliably and efficiently for years and years. All of our technicians and
                installers are certified in the industry. <strong>We are a licensed and bonded company. Please call
                    for pricing!</strong>
            </p>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Services</th>
                        <th scope="col">Offers</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Heat Pumps Installed and Serviced</td>
                        <td>Military Discounts</td>

                    </tr>

                    <tr>
                        <td>Air Condition Systems Installed and Serviced</td>
                        <td>Seniors Discounts</td>
                    </tr>
                    <tr>
                        <td>Oil & Gas Furnaces Installed and Serviced</td>
                        <td>All Major Brands Serviced</td>
                    </tr>
                    <tr>
                        <td>Ductless Mini Split</td>
                        <td>We can warranty All Brands</td>
                    </tr>
                    <tr>
                        <td>Hybrid Duel Fuel Systems</td>
                        <td>Energy Savings Agreements</td>
                    </tr>
                    <tr>
                        <td>Hot Water Heaters Gas & Electric</td>
                        <td>Same Day Service</td>
                    </tr>
                    <tr>
                        <td>Digital Thermostats</td>
                        <td>Carbon Monoxide Testing</td>
                    </tr>
                    <tr>
                        <td>Attic Insulation</td>
                        <td>Certified Technicians</td>
                    </tr>
                    <tr>
                        <td>Gas Logs Installed and Serviced</td>
                        <td>Licensed & Bonded</td>
                    </tr>
                    <tr>
                        <td>Attic Insulation</td>
                        <td>Certified Professionals</td>
                    </tr>
                    <tr>
                        <td>Attic Fans</td>
                        <td>Energy Savings Agreement Program (ESA)</td>
                    </tr>
                    <tr>
                        <td>Humidifiers</td>
                        <td>Yearly Maintenance</td>
                    </tr>
                    <tr>
                        <td>Dehumidifiers</td>
                        <td>Dryer Vent Cleaning</td>
                    </tr>
                    <tr>
                        <td>Ultraviolet Lights</td>
                        <td>Sanitized Duct Cleaning</td>
                    </tr>
                    <tr>
                        <td>A/C Mini-split Ductless</td>
                        <td>No Overtime Rates</td>
                    </tr>
                    <tr>
                        <td>Gas Line installation</td>
                        <td>Emergency Service</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3>Maintenance & repairs</h3>
            <p> All Year Heating & Cooling, Inc. has been repairing and servicing Air Conditioning and Heating
                systems in the Triad for more than 30 years. All of our technicians are certified, trained and
                attend continuing education classes to further their knowledge. All of our technicians are bonded
                and insured. </p>
            <ul>
                <li>Same Day Service</li>
                <li>No Overtime Rates</li>
                <li>Certified Technicians</li>
                <li>Licensed & Bonded</li>
                <li>All Brands Serviced and Repaired</li>
                <li>We can warranty all manufacturers</li>
                <li>Technicians are professional & courteous</li>
                <li>Energy Savings Agreement Program (ESA)</li>
                <li>Yearly Maintenance</li>
                <li>Benefits for an Energy Savings Agreement</li>
            </ul>
            <blockquote>
                <strong> All Year Heating & Cooling, Inc. has options to serve you best. A pay by the service option
                    for an Cooling or Heating Maintenance or our Best Value with the Energy Savings Agreement
                </strong>
            </blockquote>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>