---
permalink: sitemap.xml
layout: null
---

<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc><%= `${site.url}${page.url}` %></loc>
    </url>
</urlset>
