---
permalink: '/sponsor/index.html'
layout: /components/page.ejs
---

<body class=is-preload>
<div id=wrapper>
    <header
            class="reveal"
            id=header
    >
        <div class=logo><a href="/"><strong>AllYear Cooling & Heating</strong></a></div>
        <nav id=nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/replace/">Replacement Systems</a>
                    <ul>
                        <li><a href="/mold/">Air Quality & Mold</a></li>
                    </ul>
                </li>
                <li><a href="/service/">Service</a>
                    <ul>
                        <li><a href="/guarantee/">Guarantee</a></li>
                        <li><a href="/financing/">Financing</a></li>
                    </ul>
                </li>
                <li class="current"><a href="/about/">About Us</a>
                    <ul>
                        <li><a href="/sponsor/">Sponsors</a></li>
                        <li><a href="/form/">Contact Us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <section class="alt main">
        <header>
            <h1>Organizations We Support</h1>
            <p> All Year Cooling and Heating, Inc. proudly supports and recognizes the following organizations for
                their outstanding achievement. </p>
        </header>
        <div class="inner style2">
            <div class=box>
                <ul class="alt">
                    <strong>
                        <div style=text-align:center>
                            <li>Masonic Home for Children</li>
                            <li>YMCA</li>
                            <li>Local Community Churches</li>
                            <li>Kernersville Parks and Recreation</li>
                            <li>East Forsyth H.S. Booster Club</li>
                            <li>Kernersville Middle School</li>
                            <li>Walkertown Little League</li>
                            <li>The Shepard's Center Senior Services</li>
                            <li>Kernersville Korner's Folly</li>
                            <li>Caleb's Creek Elementary School</li>
                            <li>South Stokes High School</li>
                        </div>
                    </strong>
                </ul>
            </div>
            <div class="alt box">
                <div class="gtr-50 gtr-uniform row">
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="the Seal of Kernersville"
                                        src=../images/sealofkville.png
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="an image of the Korners Folly"
                                        src=../images/folly2.jpg
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="The shepard's Center logo"
                                        src=../images/shepard.png
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="East Forsyth High School logo"
                                        src=../images/east.png
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="The Children's Center logo"
                                        src=../images/children.png
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="the YMCA logo"
                                        src=../images/ymca.jpg
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="caleb's creek logo"
                                        src=../images/cc.jpg
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="an image of a Church in Kernersville"
                                        src=../images/church.jpg
                                />
                            </span>
                    </div>
                    <div class="col-4">
                            <span class="fit image">
                                <img
                                        alt="an image of a football helmet from South Stokes High School"
                                        src=../images/ss.jpg
                                />
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </section> <%- include("/components/footer.ejs") %>
</div> <%- include("/components/scripts.ejs") %>
</body>